@font-face{
    font-family:Title;
    src:url(../fonts/17891.otf);
}
.inform{
  
  height: 300px;
  width: 70%;
 
 text-align: justify;
 margin: 20px auto; 
 

}
.inform p{
   font-family: 'Federiko';
    font-size: 16px; 
}
.container{
 display: flex;
    justify-content: center;
    flex-direction: column;
}
.container:before{

  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#bottommenu{
  margin-top: 45px;
}
.titleest {
    padding-top: 30px;
    text-align: center;
    font-size: 64px;
    font-family: 'Title';
