#table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.columns {
    padding: 15px;
    width: 300px;
    height: 400px;

}

.columns img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    transition: 0.3s ease;
    border-radius: 20px;
}

.columns img:hover {
    filter: brightness(70%);
}

#parentinformdessert {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.dessert{
    margin: 20px 0px;
}
#parentinformdessert #informdessert{
    width: 300px;
    padding: 0px 30px;
}


/*.columns{
width: 300px;
display: flex;
   
margin-left: 1.5%;
margin-right: 1.5%;
}
.rows{
  display: flex;

  
  justify-content: center;
  margin-bottom: 3%;
}*/
